body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
    border-style: groove;
    border-width: 15px;
    border-color: silver;
}

#gameOver {
    position: absolute;
    visibility: hidden;
}